html,
body {
    margin: 0;
    height: 100%;
}
body {
    background: linear-gradient(
                to left top,
                rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.5)
            )
            fixed,
        url("/assets/img/home-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 400px;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

footer {
    background-color: gainsboro;
    width: -webkit-fill-available;
    margin-top: 5vw;
    .footer-notes {
        display: flex;
        justify-content: space-around;
        padding-top: 16px;
        p {
            font-family: "Caveat";
            font-size: 18pt;
            line-height: 40px;
        }
    }
}

@media only screen and (max-width: 900px) {
    footer {
        position: fixed;
        bottom: 0;
    }
}

@media only screen and (max-width: 750px) {
    footer {
        .footer-notes {
            display: flex;
            flex-direction: column;
            p {
                text-align: center;
            }
        }
    }
}
