.header {
    margin-top: 2em;
    margin-bottom: 2em;
}

.about-content {
    display: flex;

    img {
        max-width: 50%;
        height: fit-content;
    }

    .intro {
        padding: 0 1.5em 0 1.5em;
        p {
            color: #cfe2f3;
            font-family: "Caveat";
            font-size: 24pt;
        }
    }
}

@media only screen and(max-width:900px) {
    .about-content {
        padding-bottom: 130px;
    }
}
@media only screen and (max-width: 750px) {
    .about-content {
        display: flex;
        flex-direction: column;
        img {
            max-width: fit-content;
        }

        .intro {
            margin-top: 2em;
        }
    }
}
