<div class="container">
    <div class="header">
        <h1>About Me</h1>
    </div>
    <div class="about-content">
        <img src="assets/img/about-me.jpg">
        <div class="intro">
            <h2>Hi, I'm Shenyun! I'm a full time developer and part time arts and crafts addict.</h2>
            <p>I always start off by telling people that my name is pronounced Shen-ying, but many people call me Shen
                for short ^_^

                Since the age of five nothing has been more satisfying than the limitless powers of art. I love
                capturing beautiful and
                cute things in various forms of art whether through painting, photography, crocheting, clay modelling or
                calligraphy.
                Follow my Instagram for cuteness overload~</p>
        </div>
    </div>
</div>