h1 {
    font-size: 5vw;
}

.header {
    color: #cfe2f3;
    font-family: "Pacifico";
    font-weight: normal;
    vertical-align: baseline;
    text-align: center;

    margin-top: 5vw;
    margin-bottom: 5vw;
}

.home-image {
    img {
        width: 100%;
    }
}
